<div class="container d-flex flex-column min-vh-100">
    <h1>Timeline</h1>

    <div class="cards-group">
        <% if (booksTimeline.length > 0) { %>
            <% for (let book of booksTimeline) { %>
                <div class="flip-card flip-horizontal-left">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="align-items: start;">
                            <a href="/user/profile?userId=<%= book.userId %>" class="card-profile d-flex align-items-center text-decoration-none text-dark gap-2">
                                <% if (book.picture) { %>
                                    <img src="<%= book.picture %>" alt="Profile Picture">
                                <% } else { %>
                                    <i class="bi bi-person-circle fs-2 d-inline d-md-none"></i>
                                    <i class="bi bi-person-circle fs-4 d-none d-md-inline"></i>
                                <% } %>
                                <p class="fw-bolder m-0"><%= book.username %></p>
                            </a>                            
                            
                            <div class="card-image">
                                <img src="https://covers.openlibrary.org/b/id/<%= book.cover %>-L.jpg" alt="book"
                                onclick="flipCard(this)">
                            </div>
    
                            <div class="d-flex align-items-center justify-content-between" style="width: 100%;">
                                <div class="d-flex align-items-center gap-1">
                                    <i 
                                        class="bi <%= book.liked_by_user ? 'bi-heart-fill text-danger' : 'bi-heart text-danger' %> like-btn" 
                                        data-book-id="<%= book.bookId %>"
                                        style="cursor: pointer;">
                                    </i>
                                    <span class="text-danger" data-bs-toggle="modal" data-bs-target="#modalLikes">
                                        <% if (book.like_count >= 1000 && book.like_count < 10000) { %>
                                            <%= (book.like_count / 1000).toFixed(1) + 'k' %>
                                        <% } else if (book.like_count >= 10000 && book.like_count < 100000) { %>
                                            <%= (book.like_count / 1000).toFixed(1) + 'k' %>
                                        <% } else if (book.like_count >= 100000 && book.like_count < 1000000) { %>
                                            <%= (book.like_count / 1000).toFixed(1) + 'k' %>
                                        <% } else { %>
                                            <%= book.like_count %>
                                        <% } %>
                                    </span>                                                                                             
                                </div>
                                <div class="card-stars d-flex text-warning gap-1">
                                    <% for (let i = 0; i < book.rating; i++) { %>
                                        <i class="bi bi-star-fill"></i>
                                    <% } %>
        
                                    <% if (book.rating < 5) { %>
                                        <% for (let i = book.rating; i < 5; i++) { %>
                                            <i class="bi bi-star"></i>
                                        <% } %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
    
                        <div class="flip-card-back" style="align-items: start;">
                            <a href="/user/profile?userId=<%= book.userId %>" class="card-profile d-flex align-items-center text-decoration-none text-dark gap-2">
                                <% if (book.picture) { %>
                                    <img src="<%= book.picture %>" alt="Profile Picture">
                                <% } else { %>
                                    <i class="bi bi-person-circle fs-2 d-inline d-md-none"></i>
                                    <i class="bi bi-person-circle fs-4 d-none d-md-inline"></i>
                                <% } %>
                                <p class="fw-bolder m-0"><%= book.username %></p>
                            </a> 
    
                            <div class="card-body" onclick="flipCard(this)">
                                <div class="card-title">
                                    <h2>
                                        <%= book.title %>
                                    </h2>
                                    <p>By <%= book.author %></p>
                                </div>
    
                                <div class="card-text">
                                    <p><%= book.review %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>

            <!-- Controles de paginação -->
            <div class="container my-5">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <% if (currentPage > 1) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Anterior">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                            </li>
                        <% } %>
                
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                
                        <% if (currentPage < totalPages) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Próximo">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Próximo</span>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div> 
        <% } else { %>
            <div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
                <p>You have no posts to view</p>
            </div>
        <% } %>
    </div>
</div>

<div id="loading-screen" class="loading-screen d-none">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script>
    document.querySelectorAll('.like-btn').forEach(button => {
        button.addEventListener('click', async (event) => {
            const icon = event.currentTarget;
            const bookId = icon.dataset.bookId;
            const likeCountElement = icon.nextElementSibling;

            try {
                const response = await fetch('/book/like', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ bookId })
                });

                if (response.ok) {
                    const data = await response.json();
                    if (data.liked) {
                        icon.classList.remove('bi-heart');
                        icon.classList.add('bi-heart-fill');
                        likeCountElement.textContent = parseInt(likeCountElement.textContent) + 1; // Incrementa a contagem de likes
                    } else {
                        icon.classList.remove('bi-heart-fill');
                        icon.classList.add('bi-heart');
                        likeCountElement.textContent = parseInt(likeCountElement.textContent) - 1; // Decrementa a contagem de likes
                    }
                } else {
                    console.error('Failed to like/unlike the book');
                }
            } catch (err) {
                console.error('Error:', err);
            }
        });
    });
</script>