<div class="container min-vh-100">
    <% if (locals.userEmpty && locals.totalFollowers && locals.totalFollowing) { %>
        <div class="d-flex mb-5 gap-3 align-items-center justify-content-center justify-content-md-start py-3 border-bottom">
            <% if (userEmpty[0].picture) { %>
                <div class="viewProfile-picture d-none d-md-inline" style="height: 70px; width: 70px;">
                    <img src="<%= userEmpty[0].picture %>" alt="user picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                </div>
                <div class="viewProfile-picture d-inline d-md-none" style="height: 50px; width: 50px;">
                    <img src="<%= userEmpty[0].picture %>" alt="user picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                </div>
            <% } else { %>
                <i class="bi bi-person-circle d-none d-md-inline" style="font-size: 70px;"></i>
                <i class="bi bi-person-circle d-inline d-md-none" style="font-size: 50px;"></i>
            <% } %>
        
            <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 align-items-center">
                    <h2 class="mb-0">
                        <% if (userEmpty[0].username.length > 20) { %>
                            <%= userEmpty[0].username.slice(0, 20) %>...
                        <% } else { %>
                            <%= userEmpty[0].username %>
                        <% } %>
                    </h2>
        
                    <% if (isFollowing) { %>
                        <form action="/unfollow" method="post" class="ms-3 mb-0">
                            <input type="hidden" name="userId" value="<%= userEmpty[0].id %>">
                            <button type="submit" class="btn btn-secondary btn-sm">
                                <i class="fas fa-user-check"></i>
                            </button>
                        </form>
                    <% } else { %>
                        <form action="/follow" method="post" class="ms-3 mb-0">
                            <input type="hidden" name="userId" value="<%= userEmpty[0].id %>">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fas fa-user-plus"></i>
                            </button>
                        </form>
                    <% } %>
                </div>
        
                <div class="d-flex align-items-center gap-3">
                    <div class="d-flex gap-1">
                        <h6>0</h6>
                        <h6 class="text-secondary">books</h6>
                    </div>
                    
                    <form action="/followers" method="get">
                        <input type="hidden" name="user_id" value="<%= userEmpty[0].id %>">
                        <button type="submit" style="display: none;"></button>
                        <div class="d-flex gap-1">
                            <h6 id="showFollowerModal" data-user-id="<%= userEmpty[0].id %>" data-bs-toggle="modal" data-bs-target="#modalFollower">
                                <%= totalFollowers %>
                            </h6>
                            <h6 class="text-secondary" id="showFollowerModal" data-user-id="<%= userEmpty[0].id %>" data-bs-toggle="modal" data-bs-target="#modalFollower">
                                followers
                            </h6>
                            
                        </div>                       
                    </form>

                    <form action="/following" method="get">
                        <input type="hidden" name="user_id" value="<%= userEmpty[0].id %>">
                        <button type="submit" style="display: none;"></button>
                        <div class="d-flex gap-1">
                            <h6 id="showFollowingModal" data-user-id="<%= userEmpty[0].id %>" data-bs-toggle="modal" data-bs-target="#modalFollowing">
                                <%= totalFollowing %>
                            </h6>
                            <h6 class="text-secondary" data-user-id="<%= userEmpty[0].id %>" data-bs-toggle="modal" data-bs-target="#modalFollowing">
                                following
                            </h6>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
            <p>This user has not published any books</p>
        </div>
    <% } else if (locals.searchedUser && locals.totalBooks && locals.totalFollowers && locals.totalFollowing) { %>
        <div class="d-flex mb-5 gap-3 align-items-center justify-content-center justify-content-md-start py-3 border-bottom">
            <% if (searchedUser[0].picture) { %>
                <div class="viewProfile-picture d-none d-md-inline" style="height: 70px; width: 70px;">
                    <img src="<%= searchedUser[0].picture %>" alt="user picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                </div>
                <div class="viewProfile-picture d-inline d-md-none" style="height: 50px; width: 50px;">
                    <img src="<%= searchedUser[0].picture %>" alt="user picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                </div>
            <% } else { %>
                <i class="bi bi-person-circle d-none d-md-inline" style="font-size: 70px;"></i>
                <i class="bi bi-person-circle d-inline d-md-none" style="font-size: 50px;"></i>
            <% } %>
        
            <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2 align-items-center">
                    <h2 class="mb-0">
                        <% if (searchedUser[0].username.length > 20) { %>
                            <%= searchedUser[0].username.slice(0, 20) %>...
                        <% } else { %>
                            <%= searchedUser[0].username %>
                        <% } %>
                    </h2>
        
                    <% if (isFollowing) { %>
                        <form action="/unfollow" method="post" class="ms-3 mb-0">
                            <input type="hidden" name="userId" value="<%= user_id %>">
                            <button type="submit" class="btn btn-secondary btn-sm">
                                <i class="fas fa-user-check"></i>
                            </button>
                        </form>
                    <% } else { %>
                        <form action="/follow" method="post" class="ms-3 mb-0">
                            <input type="hidden" name="userId" value="<%= user_id %>">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fas fa-user-plus"></i>
                            </button>
                        </form>
                    <% } %>
                </div>
        
                <div class="d-flex align-items-center gap-3">
                    <div class="d-flex gap-1">
                        <h6><%= totalBooks %></h6>
                        <h6 class="text-secondary">books</h6>
                    </div>

                    <form action="/followers" method="get">
                        <input type="hidden" name="user_id" value="<%= user_id %>">
                        <button type="submit" style="display: none;"></button>
                        <div class="d-flex gap-1">
                            <h6 id="showFollowerModal" data-user-id="<%= user_id %>" data-bs-toggle="modal" data-bs-target="#modalFollower">
                                <%= totalFollowers %>
                            </h6> 
                            <h6 class="text-secondary" data-user-id="<%= user_id %>" data-bs-toggle="modal" data-bs-target="#modalFollower">
                                followers
                            </h6>
                        </div>                      
                    </form>

                    <form action="/following" method="get">
                        <input type="hidden" name="user_id" value="<%= user_id %>">
                        <button type="submit" style="display: none;"></button>
                        <div class="d-flex gap-1">
                            <h6 id="showFollowingModal" data-user-id="<%= user_id %>" data-bs-toggle="modal" data-bs-target="#modalFollowing">
                                <%= totalFollowing %>
                            </h6>
                            <h6 class="text-secondary" data-user-id="<%= user_id %>" data-bs-toggle="modal" data-bs-target="#modalFollowing">
                                following
                            </h6>
                        </div>                      
                    </form>
                </div>
            </div>
        </div>        

        <!-- Filtro de Busca -->
        <!--<div class="mb-4 d-flex filter">
            <i class="bi bi-search fw-bold fs-5 d-none d-lg-inline"></i>
            <i class="bi bi-search fw-bold d-inline d-lg-none"></i>
            <input type="text" id="bookFilter" placeholder="Search">
        </div>-->

        <!-- Contêiner para os livros -->
        <div class="cards-group">
            <% for (let book of searchedUser) { %>
                <div class="flip-card flip-horizontal-left" data-title="<%= book.title.toLowerCase() %>" data-author="<%= book.author.toLowerCase() %>">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="align-items: start;">
                            <div class="card-profile d-flex align-items-center gap-2">
                                <% if (book.picture) { %>
                                    <img src="<%= book.picture %>" alt="Profile Picture">
                                <% } else { %>
                                    <i class="bi bi-person-circle fs-2 d-inline d-md-none"></i>
                                    <i class="bi bi-person-circle fs-4 d-none d-md-inline"></i>
                                <% } %>
                                <p class="fw-bolder m-0"><%= book.username %></p>
                            </div>
                            
                            <div class="card-image">
                                <img src="https://covers.openlibrary.org/b/id/<%= book.cover %>-L.jpg" alt="book" onclick="flipCard(this)">
                            </div>

                            <div class="d-flex align-items-center justify-content-between" style="width: 100%;">
                                <div class="d-flex align-items-center gap-2">
                                    <i 
                                        class="bi <%= book.liked_by_user ? 'bi-heart-fill text-danger' : 'bi-heart text-danger' %> like-btn" 
                                        data-book-id="<%= book.book_id %>"
                                        style="cursor: pointer;">
                                    </i>
                                    
                                    <form action="/likes" method="get">
                                        <input type="hidden" name="book_id" value="<%= book.book_id %>">
                                        <button type="submit" style="display: none;"></button>
                                        
                                        <span class="text-danger" id="showLikesModal-<%= book.book_id %>" data-book-id="<%= book.book_id %>" data-bs-toggle="modal" data-bs-target="#modalLikes">
                                            <%= book.like_count >= 1000 && book.like_count < 1000000 ? (book.like_count / 1000).toFixed(1) + 'k' : book.like_count %>
                                        </span>                                       
                                    </form>                                    
                                </div>
                                <div class="card-stars d-flex text-warning gap-1">
                                    <% for (let i = 0; i < book.rating; i++) { %>
                                        <i class="bi bi-star-fill"></i>
                                    <% } %>
        
                                    <% if (book.rating < 5) { %>
                                        <% for (let i = book.rating; i < 5; i++) { %>
                                            <i class="bi bi-star"></i>
                                        <% } %>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="flip-card-back" style="align-items: start;">
                            <div class="card-profile d-flex align-items-center gap-2">
                                <% if (book.picture) { %>
                                    <img src="<%= book.picture %>" alt="Profile Picture">
                                <% } else { %>
                                    <i class="bi bi-person-circle fs-2 d-inline d-md-none"></i>
                                    <i class="bi bi-person-circle fs-4 d-none d-md-inline"></i>
                                <% } %>
                                <p class="fw-bolder m-0"><%= book.username %></p>
                            </div> 

                            <div class="card-body" onclick="flipCard(this)">
                                <div class="card-title">
                                    <h2><%= book.title %></h2>
                                    <p>By <%= book.author %></p>
                                </div>

                                <div class="card-text">
                                    <p><%= book.review %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>

        <!-- Paginação -->
        <div class="container my-5">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <% if (currentPage > 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="?userId=<%= user_id %>&page=<%= currentPage - 1 %>" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Anterior</span>
                            </a>
                        </li>
                    <% } %>
            
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                            <a class="page-link" href="?userId=<%= user_id %>&page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
            
                    <% if (currentPage < totalPages) { %>
                        <li class="page-item">
                            <a class="page-link" href="?userId=<%= user_id %>&page=<%= currentPage + 1 %>" aria-label="Próximo">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Próximo</span>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div> 
    <% } %>
</div>

<div id="loading-screen" class="loading-screen d-none">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>