<div class="container min-vh-100">
    <h1 class="mb-3">Users</h1>
    <div class="row">
        <% for (let user of listUser) { %>
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <!-- Adiciona um ID único para o formulário -->
                <form action="/viewProfile" method="get" class="user-form">
                    <input type="hidden" name="userId" value="<%= user.id %>">
                    <div class="card cursor-pointer p-4" onclick="this.closest('form').submit();">
                        <div class="d-flex align-items-center gap-2">
                            <% if (user.picture) { %>
                                <div class="users-profile">
                                    <img src="<%= user.picture %>" alt="Profile Picture">
                                </div>
                            <% } else { %>
                                <i class="bi bi-person-fill fs-2"></i>
                            <% } %>
                            <h2>
                                <% if (user.username.length > 15) { %>
                                    <%= user.username.slice(0, 15) %>...
                                <% } else { %>
                                    <%= user.username %>
                                <% } %>
                            </h2>
                        </div>
                        <p><%= user.book_count %> registered books</p>
                    </div>
                </form>
            </div>
        <% } %>
    </div>
</div>