<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LitShare</title>
  <%- include('partials/headerBootstrap') %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body class='bg-light'>
  <%- include('partials/header') %>

  <%- include('partials/modal/modalEditBook') %>
  <%- include('partials/modal/modalAddBook') %>
  <%- include('partials/sidebar') %>

  <main>
    <% if (locals.listUser) { %>
      <%- include('partials/searchUser') %>
    <% } else if (locals.listBook) { %>
      <%- include('partials/searchBooks') %>
    <% } else if (locals.searchedUser) { %>
      <%- include('partials/userProfile') %>
    <% } else if (locals.userEmpty) { %>
      <%- include('partials/userProfile') %>
    <% } else if (locals.yourBooks) { %>
      <%- include('partials/profile') %>
    <% } else { %>
      <%- include('./partials/timeline') %>
    <% } %>
  </main>

  <%- include('partials/footer') %>

  <%- include('partials/footerBootstrap') %>